#DOXED{
    font-size:50px;
    color: transparent;
    user-select: none;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
position:absolute;
    margin-left: 750px;
   
 }
 #T2{
    font-size: 30px;
    margin-left: 300px;
 }
 body{
    background-color: black;
    image-rendering: pixelated;
    background-image: url("download\ \(26\).png");
    background-repeat:no-repeat;
    background-size: 100%;
 }
